python==3.11
category_encoders==2.6.4
pandas==2.2.3
matplotlib==3.9.2
scikit-learn==1.5.2
seaborn==0.13.2
skillNer==1.0.3
statsmodels==0.14.4
gensim==4.3.3
transformers==4.46.2
torch
torchvision
torchaudio
-f https://download.pytorch.org/whl/cu124